    *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    }
    body{
    width: 100%;
    padding: 0;
    margin: 3%;
    background-color: rgb(18, 18, 18);
    font-family:'Courier New', Courier, monospace ;
    color: rgb(240, 240, 240);
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-left: auto;
    padding-right: auto;
    
}

#header{
    position: fixed;
    top: 0;
    left:0;
    height: 1hv;
    width: 100%;

    background-color: rgba(25, 25, 25, 0.13);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.name{
    display: inline-block;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(130, 180, 180);
    text-shadow: 0 0 5px rgb(130, 180, 180);
}
.nav-bar{
    float: right;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-list{
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:4rem;
    list-style-type: none;  
}

.list a{
    display: inline-block;
    font-size: 1.2rem;
    color: white;
    text-decoration: none!important;
    font-weight: 550;
    transition: 0.3s linear;
}

.list:hover{
    text-decoration: underline #c9c9c9;
}
.shrink{
    position: relative;
    gap: 1rem;
    margin: .5rem;
    cursor: pointer;
    color: #c9c9c9;
    font-size: 2rem;
    display: none;
    appearance: none;
}
.dropdown{
    color: #c9c9c9;
    position: relative;
    right: 2.5rem;
    top: 60px;
    width: 200px;
    height: 180px;
    background-color:rgb(130, 180, 180, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
    border-radius: 10px;
    list-style-type: none;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

 }
 .dropdown li{
    padding: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

 }

section.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin:10%;
   
 
}
.img{

    height: 300px;
    border-radius: 100%;


}
.typewriter{
    width: 80%;
    margin: 5%;
}
h1 span{
    text-shadow: 0 0 5px rgb(130, 180, 180);
    font-weight: bold;
    margin: 5%;
}
.social a{
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    height:  3rem;
    color: rgb(130, 180, 180);
    background-color: transparent;
    border-radius: 100%;
    margin: 3%;
    font-size: 1.5rem;
    text-decoration: none;
}
.social a:hover{
    scale: 1.1;
}
.button{
    outline-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30px;
    background-color: rgb(130, 180, 180);
    border: 2px solid transparent;
    border-radius: 5px;
    color: rgb(18, 18, 18);
    padding:8px 16px ;
    cursor: pointer;
    font-size: 200;
  

}
.button:hover{
    scale: 1.1;
}
.skills{
    background-color: rgb(18, 18, 18);
    margin-top: 100px;
    display: flex;
    flex-wrap:wrap;
}
.skills .content{
    
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
   
}
.skills .title{

    font-size: 2.5em;
   padding-top: 1rem;
    margin: 5rem;
}
.topic {
  width: 40%;
  padding: 25 px;
}

/* .skills-details .text-s{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    min-width:50px ;
    color: #c9c9c9;
    text-align: justify;
    height: 100px;
    
} */
.text-s{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:5%;
    padding: 3%;
    color: #c9c9c9;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
.skills-details{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200;
    width: 40%;
    align-content: flex-end;
    

}

.services .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 200;
    margin: 20px;
}


.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 2rem;
    font-size: 1.5rem;
}
.services .title{
    font-size: 2.5em;
    padding: 40px 50px;
    margin: 1rem;
    padding-top: 100px;
}
.projects .title{
    font-size: 2.5em;
    padding: 40px 50px;
    margin: 5rem;
}
.gif{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}
.testimonials .title{
    
    font-size: 2.5em;
    padding-top: 1rem;
     margin: 5%;
}
/* .testimonials-box{
    height: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    
} */
.wrapper{
    width: 90%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding:20px 0;
    
}

.tistimonial-item{
    border: 2px solid #c9c9c9;
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

}
.tistimonial-item p{
    font-size: .8rem;
}

#star{
    color: gold;
}


.form{
   padding-left: auto;
   padding-right: auto;

}

.end{
    text-align: center;
    width: 80%;
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 2rem;
    
}
.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.input-box input{
    height: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    outline-style: none;
    color: #c9c9c9;
    background-color:rgb(18, 18, 18) ;
    border:2px solid rgb(130, 180, 180);
    border-radius: 2rem;
    
}
.input-box input textarea{
    height: 30px;
    outline-style: none;
    color: #c9c9c9;
    background-color:rgb(18, 18, 18) ;
    border:2px solid rgb(130, 180, 180);
    border-radius: 2rem;
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    margin: 1.5rem 0;
    resize: none;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 2px auto 0 auto;
}
footer text{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

} 
.button2{
    outline-style: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 30px;
    background-color: rgb(130, 180, 180);
    border: 2px solid transparent;
    border-radius: 3rem;
    color: rgb(18, 18, 18);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 200;
   margin-top: 2%;
   padding: 15px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main{
        width: 100%;
        flex-wrap: wrap;
    }
    .typewriter{
        width: 80%;
        padding: 5px;
   
    }
   
    .skills .topic{
        width: 100%;
        margin: 3px;
    }
 
    .wrapper{
        padding-top: 50px;
        display: grid;
        grid-template-columns: 50px 50px 50px;
        gap: 1rem;
        align-items: center;
        justify-content: center;
     
  }
}
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .main{
        width: 100%;
        flex-wrap: wrap;
    }
    .typewriter{
            width: 75%;
     }
     .nav-bar{
        display: flex;
        justify-content: space-between;
        margin: 5px;
     }

.skills .content{
    flex-wrap:wrap;
    width: 80%;
    margin: auto;

}
.skills-details{
    margin: auto;
    padding:5px ;
}
.wrapper{
  
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 10px;
        padding-bottom: 100px;
     } 
    .testimonials-box{
        height: 500px;
        margin:10px;
    }
    
    .contact{
        display: block;
        margin-top:60rem;
    }
    .button2{
        font-size: .5rem;
    }
    .title{
        text-align: center;
        margin:1%;
    }
    .form-all{
        margin: 50px 0;
    }
    .nav-list{
        display: none;
    }
    .shrink{
        display: block;

    }
    .nav-list,
    .list a{
        display: none;
    }
    .dropdown:hover{
        -webkit-transition: all 0.2s ease-in-out;
        transition: all .4s;
    }
 .shrink:hover .dropdown{
    display: none;
 }
    /* .name{
     display: flex;
     justify-content: space-around;
    } */
    }










